.disabled {
  opacity: 0.4 !important;
  color: rgba(0,0,0,0.75) !important;
}

.medium-size {
  max-height: 36px !important;
  height: 36px !important;
  min-height: 36px !important;
  font-size: 14px !important;
} 

.small-size {
  max-height: 30px !important;
  height: 30px !important;
  min-height: 30px !important;
  font-size: 14px !important;
} 

.xsmall-size {
  max-height: 24px !important;
  height: 24px !important;
  min-height: 24px !important;
  font-size: 12px !important;
} 

.dark-mode {
  color: white !important;
  background-color: rgba(0,0,0,0) !important;
}

button {
  cursor: pointer;
}

.btn {
  height: 48px;
  min-height: 48px;
  font-size: 16px;
  padding: 0 20px;
  text-align: center;
  font-weight: bold;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 24px;

  
}

.btn > :nth-child(1) {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.btn:hover, .btn-circle:hover, .btn-circle-custom:hover, .btn:focus, .btn-circle:focus, .btn-circle-custom:focus{
  /* box-shadow: 0 0 0 3px rgba(4,157,212,.3); */
  box-shadow: 0px 0px 0 3px rgba(4,157,212,.3);
  outline: none;
}

.btn:active, .btn-circle:active, .btn-circle-custom:active{
  -webkit-transform: scale(.95);
  transform: scale(.95);
  -webkit-transition: .1s ease;
  transition: .1s ease;
  box-shadow: none;
}

.square-btn {
  border-radius: 0;
}

.default-circle-btn {
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  width: 48px;
  min-width: 48px;
  max-width: 48px;
}

.medium-circle-btn {
  height: 36px;
  min-height: 36px;
  max-height: 36px;
  width: 36px;
  min-width: 36px;
  max-width: 36px;
}

.small-circle-btn {
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
}

.xsmall-btn {
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  font-size: 12px;
}

.xsmall-circle-btn {
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  width: 24px;
  min-width: 24px;
  max-width: 24px;
}

.primary-btn {
  color: white;
  background: transparent linear-gradient(100deg, #24B9E1 0%, #7166C4 100%) 0% 0% no-repeat padding-box;
}

.secondary-btn {
  color: white;
  background: #8F919E 0% 0% no-repeat padding-box;
}

.disabled-btn {
  color: rgba(143, 145, 158, 0.5);
  background: rgba(143, 145, 158, 0.2) 0% 0% no-repeat padding-box;
}

.transparent-btn {
  color:#049DD4;
  background: rgba(0,0,0,0);
}

.white-btn {
  color:#24B9E1;
  background: white;
}

.color-btn {
  color:white;
  background:#F7BE2D;
}




.btn-circle {
  background: transparent linear-gradient(135deg, #24B9E1 0%, #7166C4 100%) 0% 0% no-repeat padding-box;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
}

.btn-circle-custom {
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
}

.btn-circle  > :nth-child(1) {
  width: 100%;
  height: 100%;
  padding: 15%;
  box-sizing: border-box;
}

.btn-circle-custom  > :nth-child(1) {
  width: 100%;
  height: 100%;
  padding: 15%;
  box-sizing: border-box;
}


/* FORM INPUT LIGHT MODE */
/* FORM INPUT LIGHT MODE */
/* FORM INPUT LIGHT MODE */
/* FORM INPUT LIGHT MODE */

.label-input {
  display: flex;
  flex-direction: column;
  color: #001741;
  font-size: 14px;
  font-weight: bold;
  width: calc(100%);
}

.label-input > :nth-child(1){
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #CBCCD1;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  min-height: 36px;
  height: 36px;
  max-height: 36px;
  font-size: 14px;
  font-weight: 600;
  color: #020726;
  padding: 0 15px;
  box-sizing: border-box;
  outline: none;
}

.label-input > :nth-child(1)::placeholder{
  font-style: italic;
}

.label-input > :nth-child(1):focus{
  box-shadow: 0px 0px 0 3px rgba(4,157,212,.3);
  outline: none;
}

/* FORM INPUT DARK MODE */
/* FORM INPUT DARK MODE */
/* FORM INPUT DARK MODE */
/* FORM INPUT DARK MODE */

.label-input-dark {
  color: white !important;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  width: calc(100%);
}

.label-input-dark > :nth-child(1)::placeholder{
  font-style: italic;
}

.label-input-dark > :nth-child(1):focus{
  box-shadow: 0px 0px 0 3px rgba(4,157,212,.3);
  outline: none;
}

.label-input-dark > :nth-child(1){
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #53566B;
  background: #020726 0% 0% no-repeat padding-box;
  min-height: 36px;
  height: 36px;
  max-height: 36px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 0 15px;
  box-sizing: border-box;
  outline: none;
}


.form-disabled {
  background: rgba(2, 7, 38, 0.05) 0% 0% no-repeat padding-box !important;
}

/* FORM CHECKBOX LIGHT MODE */
/* FORM CHECKBOX LIGHT MODE */
/* FORM CHECKBOX LIGHT MODE */
/* FORM CHECKBOX LIGHT MODE */

.form-checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  
}

.form-checkbox > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: max-content;
  padding: 0;
  margin-left: 10px;
}

.form-checkbox > input{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 8px solid white;
  border-radius: 2px;
  outline: none;
  background: red;
  position: relative;
  box-shadow: 0px 0px 0px 1px #888888;

}



.form-checkbox > input:checked {
  border: 8px solid white;
  
  background-color: #34495E;
}

.form-checkbox > input:checked::before{
  content: '\2713';
  color: black;
  position: absolute;
  left: -5px;
  top: -7px;
  width: 5px;
  height: 5px;
}

.form-checkbox > div > :nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  color: #001741;
  margin: 0;
}

.form-checkbox > div > :nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #020726;
  margin: 0;
  text-align: justify;
}

/* FORM CHECKBOX DARK MODE */
/* FORM CHECKBOX DARK MODE */
/* FORM CHECKBOX DARK MODE */
/* FORM CHECKBOX DARK MODE */

.form-checkbox-dark {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  
}

.form-checkbox-dark > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: max-content;
  padding: 0;
  margin-left: 10px;
}

.form-checkbox-dark > input{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 8px solid #020726;
  border-radius: 2px;
  outline: none;
  background: red;
  position: relative;
  box-shadow: 0px 0px 0px 1px #888888;
}


.form-checkbox-dark > input:checked {
  border: 8px solid #020726;  
  background-color: #34495E;
}

.form-checkbox-dark > input:checked::before{
  content: '\2713';
  color: white;
  position: absolute;
  left: -5px;
  top: -7px;
  width: 5px;
  height: 5px;
}

.form-checkbox-dark > div > :nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.form-checkbox-dark > div > :nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin: 0;
  text-align: justify;
}

/* FORM RADIO LIGHT MODE */
/* FORM RADIO LIGHT MODE */
/* FORM RADIO LIGHT MODE */
/* FORM RADIO LIGHT MODE */

.form-radio {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  cursor: pointer;
  
}

.form-radio > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: max-content;
  padding: 0;
  margin-left: 10px;
}

.form-radio > input{
  outline: none;
  position: relative;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;

}

.form-radio > input:checked{
  outline: none;
}

.form-radio > input::before{
  content: '';
  position: absolute;
  border-radius: 50%;
  background: white;
}

.form-radio > input:checked::before{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
  background: black;
  border: 1px solid black;
}


.form-radio > div > :nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  color: #001741;
  margin: 0;
}

.form-radio > div > :nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #020726;
  margin: 0;
  text-align: justify;
}

/* FORM RADIO DARK MODE */
/* FORM RADIO DARK MODE */
/* FORM RADIO DARK MODE */
/* FORM RADIO DARK MODE */

.form-radio-dark {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  cursor: pointer;
  
}

.form-radio-dark > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: max-content;
  padding: 0;
  margin-left: 10px;
}

.form-radio-dark > input{
  outline: none;
  position: relative;
  width: 16px;
  height: 16px;

}

.form-radio-dark > input:checked{
  outline: none;
}

.form-radio-dark > input::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #53566B;
  border-radius: 50%;
  background: #001741;
}

.form-radio-dark > input:checked::before{
  content:"";
  position: absolute;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
  border-radius: 50%;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
  border-radius: 50%;
  border: 3px solid #53566B;
  background: white;
}

.form-radio-dark > div > :nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.form-radio-dark > div > :nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin: 0;
  text-align: justify;
}


.popup-overlay {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ALERT STYLE */
/* ALERT STYLE */
/* ALERT STYLE */
/* ALERT STYLE */

.alert-container {
  width: 320px;
  max-width: 320px;
  height: max-content;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #00000033;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.alert-container > .body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #001741;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 30px;
}

.alert-container > .body > :nth-child(1){
  margin-bottom: 18px;
}

.alert-container > .body > :nth-child(2){
  margin-top: 0;
}

.alert-container > .footer {
  height: max-content;
  padding: 15px 0;
  box-sizing: content-box;
  border-top: 1px solid #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.alert-container > .footer > button {
  margin-bottom: 0px;
  padding: 0 40px;
}



/* CONFIRM STYLE */
/* CONFIRM STYLE */
/* CONFIRM STYLE */
/* CONFIRM STYLE */

.confirm-container {
  width: 320px;
  max-width: 320px;
  height: max-content;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #00000033;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.confirm-container > .body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #001741;
  font-size: 16px;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.confirm-container > .body > :nth-child(1){
  margin-bottom: 18px;
}

.confirm-container > .body > :nth-child(2){
  margin-top: 0;
}

.confirm-container > .footer {
  height: max-content;
  padding: 15px 0;
  border-top: 1px solid #F0F0F0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}

.confirm-container > .footer > button {
  margin-bottom: 0px;
  padding: 0 40px;
}


/*<============================ MODAL STYLE =========================================> */
/*<============================ MODAL STYLE =========================================> */
/*<============================ MODAL STYLE =========================================> */
/*<============================ MODAL STYLE =========================================> */

.modal-container {
  min-height: 100px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #00000033;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  position: relative;
  transition: height 0.3s;
  max-width: 100%;
}

.modal-container > .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
}

.modal-container > .header{
  font-size: 16px;
  color: #001741;
  font-weight: bold;
  text-align: justify;
  width: calc(100% - 40px);
  padding: 20px;
  box-sizing: content-box;
  border-bottom: 1px solid #F4F4F4;
}

.modal-container > .body{
  font-size: 14px;
  color: #001741;
  font-weight: 500;
  text-align: justify;
  width: calc(100% - 40px);
  padding: 20px 20px 30px 20px;
  box-sizing: content-box;
}

.modal-container > .footer{
  width: calc(100% - 40px);
  height: max-content;
  padding: 15px 20px 15px 20px;

  border-top: 1px solid #F4F4F4;
}

.default-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.default-modal-footer > button {
  margin-bottom: 0 !important;
  margin-right: 15px;
}




@media only screen and (max-width: 320px) {
  .alert-container {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  .confirm-container {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  .modal-container {
    border-radius: 0;
  }
}